@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100;1,200;1,400;1,500;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,900;1,100;1,200;1,300;1,400;1,500;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.brand-icon{
    font-family: "Poppins", sans-serif;
    color:#C23373;
    font-size: 34px;
    font-style: normal;
    font-weight: 600; 
}
.lang-icon{
    color: rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20%;
}
.navbar-brand{
    color: rgba(238, 238, 238, 0.918) !important;
    font-family: 'Dancing Script', cursive;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: 20%;
}
.navbar {
    background: #004225 !important;
    /* #426513 */
}
.icon{
    color: rgba(238, 238, 238, 0.918) !important;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 20%;
}